<h2>Log In:</h2>
<%= form_tag log_in_path do %>
	<%=label_tag(:email) %>
	<%=text_field_tag :email, "", class: "user_input"  %>
	<br>
	<%=label_tag :password %>
	<%=password_field_tag :password, "", class: "user_input" %>
	<br>
	<%= submit_tag "Log In", :class => "login_button"%>
<% end %>