<h2>Job Information:</h2>
<ul><strong>Job Name: <%=link_to @job.job_name%></strong>
	<li>Cargo Size: <%=	@job.cargo_size %> </li>
	<li>Cargo Description: <%=	@job.cargo_description %></li>
	<li>Employer: <%= User.find(@job.user_id).email %> </li>
	<li>Origin: <%=	Location.find(@job.origin).location_name %></li>
	<li>Destination: <%= Location.find(@job.destination).location_name %></li>
	<li>Boat (If Applicable):
		<% if @job.boat_id == nil %>
			<%=" No Boat Has Taken This Job" %>
		<% else %>
			<%= link_to Boat.find(@job.boat_id).boatname, boat_path(@job.boat_id) %>
		<% end %>		
	</li>
	<% if current_user == @job.user %>
	<li> <%=link_to "Edit Job Information", edit_job_path(@job.id) %> </li>
	<% end %>
</ul>

<h3>Assign this job to one of your boats</h3>
<%= form_for @job do |f|%>
<%= f.collection_select :boat_id, @enoughspace, :id, :boatname, {:prompt => "Select a Boat!"} %>
<%= f.submit :class => "button"%>
<% end %>
