<h2>New user</h2>
<div id="signup">
	<%= form_for @user do |f|%>
		<%= f.label :email %>
		<%= f.text_field :email, :class => "user_input" %>
		<br>
		<%= f.label :fname, "First Name" %>
		<%= f.text_field :fname, :class => "user_input" %>
		<br>
		<%= f.label :lname, "Last Name" %>
		<%= f.text_field :lname, :class => "user_input" %>
		<br>
		<%= f.label :password %>
		<%= f.password_field :password, :class => "user_input" %>
		<br>
		<%= f.label :password, "Confirm Password" %>
		<%= f.password_field :password_confirmation, :class => "user_input" %>
		<br>
		<%= f.submit :class => "button" %>
	<% end %>
</div>