<h2>Edit Boat:</h2>

<% if @boat.user == current_user %>
	<%= form_for @boat, :url => boat_path(@boat), :html => { :multipart => true } do |f|%>
		<%= f.label :boatname, "Boat Name" %>
		<%= f.text_field :boatname, :class => "user_input", :value => @boat.boatname %>
		<br>
		<strong><%= f.label :max_cargo, "Maximum Cargo - Warning: Make Sure The Boat Has No Jobs Before Altering This!!!" %></strong> <br>
		<%= f.text_field :max_cargo, :class => "user_input", :value => @boat.max_cargo %>
		<br>
		<%= f.label :current_location, "Current Location" %>
		<%= f.collection_select :current_location, Location.all, :id, :location_name, {:prompt => "Select a Location!"} %>
		<br>
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
		<br>
		<%= f.submit :class => "button" %>
	<% end %>
<% else %>
	<h3>Only the owner of this boat can edit its information.</h3>
<% end %>
<br>
<h3>This Boat has currently accepted the following jobs:</h3>
<ul>
	<% @boat.jobs.each do |j| %>
		<li><%=link_to j.job_name, j %></li>
	<% end %>
</ul>

<% if @boat.user == current_user %>
	<h2>Delete Boat</h2>
	<%= link_to "Delete Boat", @boat, method: :delete, :class => "button" %>
	<br>
<% end %>	