<h2>Boat Information:</h2>
<ul>
	<strong>Boat Name:</strong> <%= link_to @boat.boatname, @boat %>
	<li><strong>User:</strong> <%= link_to @boat.user.email, @boat.user %></li>
	<li><strong>Maximum Cargo:</strong> <%= @boat.max_cargo %></li>
	<li><strong>Current Cargo:</strong> <%= @boat.current_cargo %></li>
	<li><strong>Available Cargo:</strong> <%= @boat.available_cargo %></li>
</ul>

<% if current_user.id == @user.id %>
	<%= link_to "Edit Boat Info", edit_boat_path, :class => "button" %>
<% else %>
	<%= "You must be the owner of this boat to edit its information." %>	
<% end %>

<br>
<h2>This Boat Has Accepted <%=@boat.jobs.count%> Job(s)</h2>
<% @boat.jobs.each do |j| %>
<ul>Job Name: <%=link_to j.job_name, j %>
	<li>Cargo Size: <%=	j.cargo_size %> </li>
	<li>Cargo Description: <%=	j.cargo_description %></li>
	<li>Employer: <%= link_to User.find(j.user_id).email, j.user %> </li>
	<li>Origin: <%=	Location.find(j.origin).location_name %></li>
	<li>Destination: <%= Location.find(j.destination).location_name %></li>
<br>
<% end %>


