<!DOCTYPE html>
<html>
<head>
  <title>ValidationWs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user%>		
		<nav>
			<ul class="nav1">
				<li><%= link_to current_user.email, '/' %></li>
				<li><%= link_to "Create a New Boat", new_boat_path %> </li>
				<li><%= link_to "Create a New Job", new_job_path %> </li>
			</ul>
			<ul class="nav2">
				<li> <%= link_to "Account Settings", edit_user_path(current_user) %> </li>
				<li> <%= link_to "Log Out", '/log-out' %> </li>
			</ul>	
		</nav>
	<%else %>
		<nav>
			<ul class="nav1">
				<li> <%= link_to "Log In", log_in_path %> </li>
				<li> <%= link_to "Sign Up", new_user_path %> </li>
			</ul>
		</nav>
<% end %>

<% if flash[:alert] %>
	<%= flash[:alert] %>
<% elsif flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<%= yield %>

</body>
</html>
